.navbar {
  display: flex;
  flex-direction: column;
  color: black;
  height: 40px;
  width: 100%
}

.img-container{
  display: flex;
  background-color: black;
}

.link{
  color: magenta;
}

.navLinks-container {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}