@font-face {
  font-family: "Katerlin-51z";
  src: url(../public/Katerlin-51zjB.ttf);
}

@font-face {
  font-family: "LoveYaLikeASister-Regular";
  src: url(../public/LoveYaLikeASister-Regular.ttf);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

.drinkName {
  text-align: center;
  font-family: Katerlin-51z;
  font-weight: 200;
  font-size: 80px;
  position: absolute;
  margin-top: -60px;
}

.drinkType {
  color: white;
  text-align: center;
  font-family: LoveYaLikeASister-Regular; 
  font-size: 20px; 
  font-weight: 200;
  margin-bottom: 20px;
  padding-top: 20px;
}

.drinkIMG {
  display: flex;
  border: 0px solid rgb(133, 43, 43);
  border-width: 5px;
  align-items: center;
  align-content: center;
}

.imgIngredientsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 30px;
}

.button {
  display: flex;
  font-family: LoveYaLikeASister-Regular; 
  font-size: 20px; 
  font-weight: 100;
  justify-content: center;
  align-items: center;
  background-color: rgb(133, 43, 43);
  color: white;
  height: 40px;
  width: 250px;
  margin-top: 30px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 15px;
}


@media screen and (max-width: 450px) {
  
  .buttonContainer {
    flex-direction: column; 
  }

  .drinkIMG {
    width: 200px;
    height: 200px;
  }

  .drinkName {
    font-size: 60px;
  }
  
  .drinkType {
    padding-top: 1px;
  }

}  